@use "sass:math";
@import 'fonts';

/* fonts */
$font: 'Source Sans Pro', serif;
$font-root-regular: 19px;
$font-root-mobile: 16px;
$font-size-regular: 1rem; // 14pt on desktop and tablet,
$font-size-small: math.div(16rem, 19);
$font-size-large: math.div(24rem, 19);
$line-height: math.div(24rem, 19);

/* height and spacing */
$spacing: math.div(16rem, 19);
$spacing-small: math.div(8rem, 19);
$spacing-large: math.div(32rem, 19);
/* new styleguide: font size + relative spacing! */
$row-height-large: 1rem +  2*1rem;
$row-height-small: 1.1rem +  2*$spacing-small;
$header-height: 55px;
$chips-spacing: 0.05rem;
$chips-list-height: 1rem + 2*$spacing;
$input-field-line-height: math.div(27rem, 19);
$fade-out-width: 30px;

/* colors */
$app-color: #FF9800 !default;
$font-color: rgb(0, 0, 0);
$font-color-second: rgb(107, 107, 107);
$font-color-third: rgb(160, 160, 160);
$button-header-color: rgb(240, 240, 240);
$input-field-color: rgb(200, 200, 200);
$background-color: #f0f0f0;
$box-color: white;
/* self defined for now! */
$uploadbar-color: #999999;

/* shadows and borders */
$border-width: 2px;
$border-active-width: 4px;
$box-shadow-reg: 0px 0px 3px 0px rgba(0,0,0,0.05);
$box-shadow-hov: 0px 1px 5px 0px rgba(0,0,0,0.15);
$drop-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
$pop-up-shadow: 0px 0px 36px 0px rgba(0,0,0,0.5);
$pop-up-drop-shadow: 0px 10px 46px 0px rgba(0,0,0,0.25);
$input-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.2);
$preview-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
$box-transition: box-shadow 0.3s ease-in-out;
$separation-line: $border-width solid $button-header-color;
$list-border: 5px solid rgba(76, 175, 80, 1);
$list-border-transparent-50: 5px solid rgba(76, 175, 80, 0.5);
$list-border-transparent-100: 5px solid rgba(76, 175, 80, 0);
$upload-border: $border-width dashed $font-color-second;
$upload-border-hover: $border-width dashed $app-color;
$active-border: $border-active-width solid $app-color;
$input-field-border: 1px solid $input-field-color;

/* sizing */
$page-max-width: 1400px;
$page-min-width: 305px;

/* icons */
$icon-max: 48px;
$icon-large: 24px;
$icon-medium: 16px;
$icon-small: 12px;
$icon-min: 8px;

/* break-points */
$mobile: 639px;
$mobile-min-width: 640px;
$tablet: 1024px;

/* z-indeces */
$zindex: (
  sidebar: 50,
  boxcontent: 100,
  fadeout: 100,
  uploadbar: 100,
  button-active: 100,
  dropdown: 200,
  uploadbar-content: 200,
  hoverbox: 500,
  form-header-row: 1000,
  // just in here for reference
  header: 1040,
  notification: 1100,
  loader: 5000,
  modal_bg: 10000,
  modal: 10020,
)
