@import 'fonts';

/* height and spacing */
$spacing: 16px;
$spacing-small: 8px;
$spacing-large: 32px;
$row-height-small: 32px;
$row-height-large: 48px;
$header-height: 55px;

/* shadows and borders */
$box-shadow-reg: 0px 0px 3px 0px rgba(0,0,0,0.05);
$box-shadow-hov: 0px 1px 5px 0px rgba(0,0,0,0.15);
$drop-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
$pop-up-shadow: 0px 0px 36px 0px rgba(0,0,0,0.5);
$pop-up-drop-shadow: 0px 46px 46px 0px rgba(0,0,0,0.25);
$input-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.2);
$box-transition: box-shadow 0.3s ease-in-out;
$separation-line: 2px solid rgb(240, 240, 240);
$list-border: 5px solid rgba(76, 175, 80, 1);
$list-border-transparent-50: 5px solid rgba(76, 175, 80, 0.5);
$list-border-transparent-100: 5px solid rgba(76, 175, 80, 0);
$upload-border: 2px dashed rgb(111,111,111);

/* fonts */
$font: "Source Sans Pro", sans-serif;
$font-size-regular: 14pt;
$font-size-mobile: 12pt;
$font-size-small: 0.85em;
$font-size-large: 1.25em;
$line-height: 1.2em;

/* colors */
$app-color: green !default;
$font-color: rgb(0, 0, 0);
$font-color-second: rgb(111, 111, 111);
$font-color-third: rgb(160, 160, 160);
$button-header-color: rgb(240, 240, 240);
$background-color: #f0f0f0;
$box-color: white;

/* sizing */
$page-max-width: 1400px;
$page-min-width: 305px;

/* icons */
$icon-max: 48px;
$icon-large: 24px;
$icon-medium: 16px;
$icon-small: 12px;
$icon-min: 8px;

/* break-points */
$mobile: 640px;
$tablet: 1024px;
